<% include header %>
    <a href="/upload"><input type="button" value="Ajouter une musique"></a>
    <% if (locals.flash && locals.flash.success){ %>
        <div class="success message">
            <%= flash.success %>
        </div>
        <% } %>
            <div class="musiques">
                <h3>Musiques</h3>
                <ul class="cols-titles">
                    <li>Titre</li>
                    <li>Groupe</li>
                </ul>

                <div class="test">
                    <ul>
                        <% for ( song of songs ){%>
                            <li>
                                <%= song.id %>
                                    <%= song.title %>
                                        <%=  song.band %>
                                            <form action="/musics/delete/<%= song.id %>" method="post">
                                                <input type="submit" value="SUPPRIMER">
                                            </form>
                            </li>
                            <% } %>
                    </ul>
                </div>

            </div>

            <% include footer %>